mido>=1.2.10
pygame>=2.0.1
pywin32>=301; sys_platform == 'win32'
xlib>=0.21; sys_platform == 'linux'
pygame_gui>=0.6.9
moderngl>=5.8.2
pyperclip>=1.8.1
PyMsgBox>=1.0.9
xlib>=0.21
opencv-python~=4.8.1.78
numpy~=1.26.1